<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <link rel="stylesheet" href="css/demo.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <style>
        .sm{
            background-color: #6c757d !important;
        }
    </style>
</head>
<body>
<header>
    <img src="img/logo.png" alt="">
    <span style="font-size: 0.24rem !important;">S-API应用输出</span>
</header>
<div id="one">
    <!-- 左边盒子 -->
    <div class="leftBox">
        <div class="title">应用程序</div>
        <div class="tabs">
            <span>全部</span>
            <span>应用程序</span>
        </div>
        <div class="container">
            <div>
                <ul class="all-ul">
                    <li v-for="(item,index) in allList" :key="index" @click="imgBtn(index,'1')">
                        <span class="allImg">
                            <img :src="item.imgUrl" alt="">
                        </span>
                        <p>{{item.name}}</p>
                    </li>
                </ul>
            </div>
            <div style="display: none">
                <ul class="yycxUl">
                    <li v-for="(item,index) in sysList" :key="index" @click="imgBtn(index)" >
                        <div class="boxImg">
                            <img :src="item.imgUrl" alt="">
                        </div>
                        <p class="imgName">{{item.name}}</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- 中间盒子 -->
    <div id="pagName"><span class="mmmm" contenteditable="true">{{name}}</span></div>
    <div class="centerBox">
        <iframe id="childframe" src="centerHtml.html" frameborder="0" style="width: 14.09rem;height: 7.93rem; "></iframe>
    </div>
    <!-- 右边盒子 -->
    <div class="rightBox">
    <div class="title">页面</div>
    <ul id="app">
        <li v-for="(item,index) in secondData" :key="index" >
            <input :id="index" :disabled="item.isReadonly" class="checkInput" @click="addNavData(index)" :checked="item.isCheck" type="checkbox">
            <label :for="index" :class="{ sm : item.isReadonly}"></label>
            <input class="inputBox" readonly type="text" :value="item.name">
            <button class="saveBtn" :value="index">保存</button>
            <img  class="updateImg" src="img/303.png" alt="">
        </li>
    </ul>
    <div class="rightBottomBox">
        <span class="imgBox">
            <img src="img/101.png" alt="">
            <span class="imgTitle ylBtn">预览</span>
        </span>
        <span class="imgBox">
            <img src="img/202.png" alt="">
            <span class="imgTitle scBtn">输出</span>
        </span>
        <span class="imgBox" style="position: relative">
            <img src="img/202.png" alt="">
            <span class="imgTitle logoBtn">logo</span>
            <input type="file" id="upload" name="upload" style="filter: alpha(opacity = 0);position: absolute;top:0;left: 0;width: 100%;height: 100%;opacity: 0">
        </span>
    </div>
</div>
</div>
<!-- 输出模板 -->
<div class="template scBox">
    <div class="scMinBox">
        <!-- 头部 -->
        <div class="headerBox">
            <span>输出</span>
            <img class="outImg" src="img/gb.png" alt="">
        </div>
        <!-- 主体 -->
        <div class="scContent">
            <div class="scLeft">
                <img src="img/666.png" alt="">
            </div>
            <div class="scRight">
                <p>项目名称:<span class="scName">XXXXXX</span></p>
                <p>
                    创建时间:<span class="nowTime" style="margin-left: 0.05rem"></span>
                </p>
                <p class="bofore">链接分享</p>
                <p>
                    <input type="text" placeholder="www.demo.com">
                    <button>复制</button>
                </p>
                <button>预览</button>
            </div>
        </div>
    </div>
</div>
<script src="js/vue.min.js"></script>
<script>
    let one = new Vue({
        el:"#one",
        data:{
            logoUrl:"",
            value:null,
            smile:{
                background: '#6c757d',
            },
            name:"智慧办公",
            //全部模块列表
            allList:[
                {
                    code:"101",
                    parentsName:"智慧办公",
                    icon:"img/navLeft/nav_1.png",
                    name:"首页",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/ggHome.html"
                },
                {
                    code:"109",
                    icon:"img/navLeft/nav_8.png",
                    name:"系统管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/xitongguanli/header.html"
                },
                {
                    code:"110",
                    icon:"img/navLeft/nav_8.png",
                    name:"事件管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/shebeishijian/header.html"
                },
                {
                    code:"111",
                    icon:"img/navLeft/nav_8.png",
                    name:"平台管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/pingtaiguanli/header.html"
                },
                {
                    code:"119",
                    icon:"img/navLeft/nav_8.png",
                    name:" 管理3D",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/guanli3D/header.html"
                },
                {
                    code:"103",
                    icon:"img/navLeft/nav_3.png",
                    name:" 设备管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/shebeiguanli/header.html"
                },
                {
                    code:"104",
                    icon:"img/navLeft/nav_3.png",
                    name:"平台设备管理",
                    isCheck:false,
                    iframeUrl:"office-ui/html/equipmentInfo.html"
                },
                {
                    code:"102",
                    icon:"img/navLeft/nav_2.png",
                    name:"会议室管理",
                    isCheck:false,
                    iframeUrl:"office-ui/html/officeRoom.html"
                },
                {
                    code:"104",
                    icon:"img/navLeft/nav_4.png",
                    name:"考勤管理",
                    isCheck:false,
                    iframeUrl:"office-ui/html/attInfo.html"
                },
                {
                    code:"109",
                    icon:"img/navLeft/nav_8.png",
                    name:"报警系统",
                    isCheck:false,
                    iframeUrl:"htmls/warningstystem/header.html"
                },
                {
                    code:"110",
                    icon:"img/navLeft/nav_8.png",
                    name:"新风系统",
                    isCheck:false,
                    iframeUrl:"htmls/lfHome.html"
                },
                {
                    code:"111",
                    icon:"img/navLeft/nav_8.png",
                    name:"能源概况",
                    isCheck:false,
                    iframeUrl:"htmls/nygk.html"
                },
                {
                    code:"112",
                    icon:"img/navLeft/nav_8.png",
                    name:"照明系统",
                    isCheck:false,
                    iframeUrl:"htmls/zmHtml.html"
                },
                {
                    code:"113",
                    icon:"img/navLeft/nav_8.png",
                    name:"停车系统",
                    isCheck:false,
                    iframeUrl:"htmls/tcxt.html"
                },
            ],
            // 系统列表
            sysList:[
                {
                    ids:"100",
                    name:"智慧办公",
                    imgUrl:"img/zhimg/zhbg.jpg",
                    dataList:[
                        {
                            code:"102",
                            icon:"img/navLeft/nav_2.png",
                            name:"会议室管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/officeRoom.html"
                        },
                        {
                            code:"104",
                            icon:"img/navLeft/nav_4.png",
                            name:"考勤管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/attInfo.html"
                        },
                        {
                            code:"105",
                            icon:"img/navLeft/nav_5.png",
                            name:"设备模式管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/modeManage.html"
                        },
                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },
                        {
                            code:"109",
                            icon:"img/navLeft/nav_8.png",
                            name:"报警系统",
                            isCheck:false,
                            iframeUrl:"htmls/warningstystem/header.html"
                        },
                        {
                            code:"110",
                            icon:"img/navLeft/nav_8.png",
                            name:"新风系统",
                            isCheck:false,
                            iframeUrl:"htmls/lfHome.html"
                        },
                        {
                            code:"111",
                            icon:"img/navLeft/nav_8.png",
                            name:"能源概况",
                            isCheck:false,
                            iframeUrl:"htmls/nygk.html"
                        },
                        {
                            code:"112",
                            icon:"img/navLeft/nav_8.png",
                            name:"照明系统",
                            isCheck:false,
                            iframeUrl:"htmls/zmHtml.html"
                        },
                        {
                            code:"113",
                            icon:"img/navLeft/nav_8.png",
                            name:"停车系统",
                            isCheck:false,
                            iframeUrl:"htmls/tcxt.html"
                        },

                    ],
                },
                {
                    ids:"002",
                    name:"智慧养老",
                    imgUrl:"img/zhimg/zhyl.jpg",
                    dataList:[
                        {
                            code:"105",
                            icon:"img/navLeft/nav_5.png",
                            name:"设备模式管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/modeManage.html"
                        },
                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },
                        {
                            code:"109",
                            icon:"img/navLeft/nav_8.png",
                            name:"报警系统",
                            isCheck:false,
                            iframeUrl:"htmls/warningstystem/header.html"
                        },
                        {
                            code:"110",
                            icon:"img/navLeft/nav_8.png",
                            name:"新风系统",
                            isCheck:false,
                            iframeUrl:"htmls/lfHome.html"
                        },
                        {
                            code:"111",
                            icon:"img/navLeft/nav_8.png",
                            name:"能源概况",
                            isCheck:false,
                            iframeUrl:"htmls/nygk.html"
                        },
                        {
                            code:"112",
                            icon:"img/navLeft/nav_8.png",
                            name:"照明系统",
                            isCheck:false,
                            iframeUrl:"htmls/zmHtml.html"
                        },
                    ],
                },
                {
                    ids:"003",
                    name:"智慧医院",
                    imgUrl:"img/zhimg/zhyy.jpg",
                    dataList:[

                        {
                            code:"105",
                            icon:"img/navLeft/nav_5.png",
                            name:"设备模式管理",
                            isCheck:false,

                            iframeUrl:"office-ui/html/modeManage.html"
                        },
                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,

                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },
                        {
                            code:"109",
                            icon:"img/navLeft/nav_8.png",
                            name:"报警系统",
                            isCheck:false,
                            iframeUrl:"htmls/warningstystem/header.html"
                        },
                        {
                            code:"110",
                            icon:"img/navLeft/nav_8.png",
                            name:"新风系统",
                            isCheck:false,
                            iframeUrl:"htmls/lfHome.html"
                        },
                        {
                            code:"111",
                            icon:"img/navLeft/nav_8.png",
                            name:"能源概况",
                            isCheck:false,
                            iframeUrl:"htmls/nygk.html"
                        },
                        {
                            code:"112",
                            icon:"img/navLeft/nav_8.png",
                            name:"照明系统",
                            isCheck:false,
                            iframeUrl:"htmls/zmHtml.html"
                        },
                        {
                            code:"113",
                            icon:"img/navLeft/nav_8.png",
                            name:"停车系统",
                            isCheck:false,
                            iframeUrl:"htmls/tcxt.html"
                        }
                    ],
                },
                {
                    ids:"004",
                    name:"智慧楼宇",
                    imgUrl:"img/zhimg/zhly.jpg",
                    dataList:[


                        {
                            code:"102",
                            icon:"img/navLeft/nav_2.png",
                            name:"会议室管理",
                            isCheck:false,

                            iframeUrl:"office-ui/html/officeRoom.html"
                        },
                        {
                            code:"104",
                            icon:"img/navLeft/nav_4.png",
                            name:"考勤管理",
                            isCheck:false,

                            iframeUrl:"office-ui/html/attInfo.html"
                        },
                        {
                            code:"105",
                            icon:"img/navLeft/nav_5.png",
                            name:"设备模式管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/modeManage.html"
                        },
                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },


                        {
                            code:"109",
                            icon:"img/navLeft/nav_8.png",
                            name:"报警系统",
                            isCheck:false,
                            iframeUrl:"htmls/warningstystem/header.html"
                        },
                        {
                            code:"110",
                            icon:"img/navLeft/nav_8.png",
                            name:"新风系统",
                            isCheck:false,
                            iframeUrl:"htmls/lfHome.html"
                        },
                        {
                            code:"111",
                            icon:"img/navLeft/nav_8.png",
                            name:"能源概况",
                            isCheck:false,
                            iframeUrl:"htmls/nygk.html"
                        },
                        {
                            code:"112",
                            icon:"img/navLeft/nav_8.png",
                            name:"照明系统",
                            isCheck:false,
                            iframeUrl:"htmls/zmHtml.html"
                        },
                        {
                            code:"113",
                            icon:"img/navLeft/nav_8.png",
                            name:"停车系统",
                            isCheck:false,
                            iframeUrl:"htmls/tcxt.html"
                        }
                    ],
                },
                {
                    ids:"005",
                    name:"智慧社区",
                    imgUrl:"img/zhimg/zhsq.jpg",
                    dataList:[


                        {
                            code:"105",
                            icon:"img/navLeft/nav_5.png",
                            name:"设备模式管理",
                            isCheck:false,

                            iframeUrl:"office-ui/html/modeManage.html"
                        },
                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,

                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },


                        {
                            code:"109",
                            icon:"img/navLeft/nav_8.png",
                            name:"报警系统",
                            isCheck:false,
                            iframeUrl:"htmls/warningstystem/header.html"
                        },
                        {
                            code:"111",
                            icon:"img/navLeft/nav_8.png",
                            name:"能源概况",
                            isCheck:false,
                            iframeUrl:"htmls/nygk.html"
                        },
                        {
                            code:"112",
                            icon:"img/navLeft/nav_8.png",
                            name:"照明系统",
                            isCheck:false,
                            iframeUrl:"htmls/zmHtml.html"
                        },
                        {
                            code:"113",
                            icon:"img/navLeft/nav_8.png",
                            name:"停车系统",
                            isCheck:false,
                            iframeUrl:"htmls/tcxt.html"
                        }
                    ],
                },
                {
                    ids:"006",
                    name:"智慧酒店",
                    imgUrl:"img/zhimg/zhjd.jpg",
                    dataList:[



                        {
                            code:"105",
                            icon:"img/navLeft/nav_5.png",
                            name:"设备模式管理",
                            isCheck:false,

                            iframeUrl:"office-ui/html/modeManage.html"
                        },
                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,

                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },


                        {
                            code:"110",
                            icon:"img/navLeft/nav_8.png",
                            name:"新风系统",
                            isCheck:false,
                            iframeUrl:"htmls/lfHome.html"
                        },
                        {
                            code:"111",
                            icon:"img/navLeft/nav_8.png",
                            name:"能源概况",
                            isCheck:false,
                            iframeUrl:"htmls/nygk.html"
                        },
                        {
                            code:"112",
                            icon:"img/navLeft/nav_8.png",
                            name:"照明系统",
                            isCheck:false,
                            iframeUrl:"htmls/zmHtml.html"
                        },
                        {
                            code:"113",
                            icon:"img/navLeft/nav_8.png",
                            name:"停车系统",
                            isCheck:false,
                            iframeUrl:"htmls/tcxt.html"
                        }
                    ],
                },
                {
                    ids:"007",
                    name:"智慧安防",
                    imgUrl:"img/zhimg/zhaf.jpg",
                    dataList:[



                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,
                            isReadonly:true,
                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },


                        {
                            code:"109",
                            icon:"img/navLeft/nav_8.png",
                            name:"报警系统",
                            isCheck:false,
                            iframeUrl:"htmls/warningstystem/header.html"
                        }
                    ],
                },
                {
                    ids:"008",
                    name:"智慧政务",
                    imgUrl:"img/zhimg/zhzw.jpg",
                    dataList:[


                        {
                            code:"102",
                            icon:"img/navLeft/nav_2.png",
                            name:"会议室管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/officeRoom.html"
                        },


                        {
                            code:"110",
                            icon:"img/navLeft/nav_8.png",
                            name:"新风系统",
                            isCheck:false,
                            iframeUrl:"htmls/lfHome.html"
                        },
                        {
                            code:"111",
                            icon:"img/navLeft/nav_8.png",
                            name:"能源概况",
                            isCheck:false,
                            iframeUrl:"htmls/nygk.html"
                        },
                        {
                            code:"112",
                            icon:"img/navLeft/nav_8.png",
                            name:"照明系统",
                            isCheck:false,
                            iframeUrl:"htmls/zmHtml.html"
                        }
                    ],
                },
                {
                    ids:"009",
                    name:"智慧物业",
                    imgUrl:"img/zhimg/zhwy.jpg",
                    dataList:[



                        {
                            code:"104",
                            icon:"img/navLeft/nav_4.png",
                            name:"考勤管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/attInfo.html"
                        },
                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },


                        {
                            code:"109",
                            icon:"img/navLeft/nav_8.png",
                            name:"报警系统",
                            isCheck:false,
                            iframeUrl:"htmls/warningstystem/header.html"
                        },
                        {
                            code:"110",
                            icon:"img/navLeft/nav_8.png",
                            name:"新风系统",
                            isCheck:false,
                            iframeUrl:"htmls/lfHome.html"
                        },
                        {
                            code:"111",
                            icon:"img/navLeft/nav_8.png",
                            name:"能源概况",
                            isCheck:false,
                            iframeUrl:"htmls/nygk.html"
                        },
                        {
                            code:"112",
                            icon:"img/navLeft/nav_8.png",
                            name:"照明系统",
                            isCheck:false,
                            iframeUrl:"htmls/zmHtml.html"
                        },
                    ],
                },
                {
                    ids:"010",
                    name:"智慧园区",
                    imgUrl:"img/zhimg/zhyq.jpeg",
                    dataList:[



                        {
                            code:"105",
                            icon:"img/navLeft/nav_5.png",
                            name:"设备模式管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/modeManage.html"
                        },
                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },


                        {
                            code:"109",
                            icon:"img/navLeft/nav_8.png",
                            name:"报警系统",
                            isCheck:false,
                            iframeUrl:"htmls/warningstystem/header.html"
                        },
                        {
                            code:"110",
                            icon:"img/navLeft/nav_8.png",
                            name:"新风系统",
                            isCheck:false,
                            iframeUrl:"htmls/lfHome.html"
                        },
                        {
                            code:"111",
                            icon:"img/navLeft/nav_8.png",
                            name:"能源概况",
                            isCheck:false,
                            iframeUrl:"htmls/nygk.html"
                        },
                        {
                            code:"112",
                            icon:"img/navLeft/nav_8.png",
                            name:"照明系统",
                            isCheck:false,
                            iframeUrl:"htmls/zmHtml.html"
                        },
                        {
                            code:"113",
                            icon:"img/navLeft/nav_8.png",
                            name:"停车系统",
                            isCheck:false,
                            iframeUrl:"htmls/tcxt.html"
                        }
                    ],
                },
                {
                    ids:"011",
                    name:"智慧旅游",
                    imgUrl:"img/zhimg/zhny.jpg",
                    dataList:[


                        {
                            code:"105",
                            icon:"img/navLeft/nav_5.png",
                            name:"设备模式管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/modeManage.html"
                        },
                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,

                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },


                        {
                            code:"109",
                            icon:"img/navLeft/nav_8.png",
                            name:"报警系统",
                            isCheck:false,
                            iframeUrl:"htmls/warningstystem/header.html"
                        },
                        {
                            code:"113",
                            icon:"img/navLeft/nav_8.png",
                            name:"停车系统",
                            isCheck:false,
                            iframeUrl:"htmls/tcxt.html"
                        }
                    ],
                },
                {
                    ids:"012",
                    name:"智慧商超",
                    imgUrl:"img/zhimg/zhcs.jpg",
                    dataList:[



                        {
                            code:"105",
                            icon:"img/navLeft/nav_5.png",
                            name:"设备模式管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/modeManage.html"
                        },
                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },


                        {
                            code:"109",
                            icon:"img/navLeft/nav_8.png",
                            name:"报警系统",
                            isCheck:false,
                            iframeUrl:"htmls/warningstystem/header.html"
                        },
                        {
                            code:"110",
                            icon:"img/navLeft/nav_8.png",
                            name:"新风系统",
                            isCheck:false,
                            iframeUrl:"htmls/lfHome.html"
                        },
                        {
                            code:"111",
                            icon:"img/navLeft/nav_8.png",
                            name:"能源概况",
                            isCheck:false,
                            iframeUrl:"htmls/nygk.html"
                        },
                        {
                            code:"112",
                            icon:"img/navLeft/nav_8.png",
                            name:"照明系统",
                            isCheck:false,
                            iframeUrl:"htmls/zmHtml.html"
                        },
                        {
                            code:"113",
                            icon:"img/navLeft/nav_8.png",
                            name:"停车系统",
                            isCheck:false,
                            iframeUrl:"htmls/tcxt.html"
                        }
                    ],
                },
                {
                    ids:"013",
                    name:"智慧校园",
                    imgUrl:"img/zhimg/zhxy.jpg",
                    dataList:[



                        {
                            code:"105",
                            icon:"img/navLeft/nav_5.png",
                            name:"设备模式管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/modeManage.html"
                        },
                        {
                            code:"106",
                            icon:"img/navLeft/nav_6.png",
                            name:"平台设备管理",
                            isCheck:false,
                            iframeUrl:"office-ui/html/equipmentInfo.html"
                        },


                        {
                            code:"109",
                            icon:"img/navLeft/nav_8.png",
                            name:"报警系统",
                            isCheck:false,
                            iframeUrl:"htmls/warningstystem/header.html"
                        },
                        {
                            code:"110",
                            icon:"img/navLeft/nav_8.png",
                            name:"新风系统",
                            isCheck:false,
                            iframeUrl:"htmls/lfHome.html"
                        },
                        {
                            code:"111",
                            icon:"img/navLeft/nav_8.png",
                            name:"能源概况",
                            isCheck:false,
                            iframeUrl:"htmls/nygk.html"
                        },
                        {
                            code:"112",
                            icon:"img/navLeft/nav_8.png",
                            name:"照明系统",
                            isCheck:false,
                            iframeUrl:"htmls/zmHtml.html"
                        },
                        {
                            code:"113",
                            icon:"img/navLeft/nav_8.png",
                            name:"停车系统",
                            isCheck:false,
                            iframeUrl:"htmls/tcxt.html"
                        }
                    ],
                }
            ],
            //二级数据
            secondData:[],
            //子页面数据包
            number:null,
            xxData : [] //选中的数据包
        },
        mounted(){
            this.secondData = [
                {
                    code:"101",
                    parentsName:"智慧办公",
                    icon:"img/navLeft/nav_1.png",
                    name:"首页",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/ggHome.html"
                },
                {
                    code:"109",
                    icon:"img/navLeft/nav_8.png",
                    name:"系统管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/xitongguanli/header.html"
                },
                {
                    code:"110",
                    icon:"img/navLeft/nav_8.png",
                    name:"事件管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/shebeishijian/header.html"
                },
                {
                    code:"111",
                    icon:"img/navLeft/nav_8.png",
                    name:"平台管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/pingtaiguanli/header.html"
                },
                {
                    code:"119",
                    icon:"img/navLeft/nav_8.png",
                    name:" 管理3D",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/guanli3D/header.html"
                },
                {
                    code:"103",
                    icon:"img/navLeft/nav_3.png",
                    name:" 设备管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/shebeiguanli/header.html"
                },
            ];
            this.xxData = [
                {
                    code:"101",
                    parentsName:"智慧办公",
                    icon:"img/navLeft/nav_1.png",
                    name:"首页",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/ggHome.html"
                },
                {
                    code:"109",
                    icon:"img/navLeft/nav_8.png",
                    name:"系统管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/xitongguanli/header.html"
                },
                {
                    code:"110",
                    icon:"img/navLeft/nav_8.png",
                    name:"事件管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/shebeishijian/header.html"
                },
                {
                    code:"111",
                    icon:"img/navLeft/nav_8.png",
                    name:"平台管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/pingtaiguanli/header.html"
                },
                {
                    code:"119",
                    icon:"img/navLeft/nav_8.png",
                    name:" 管理3D",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/guanli3D/header.html"
                },
                {
                    code:"103",
                    icon:"img/navLeft/nav_3.png",
                    name:" 设备管理",
                    isCheck:true,
                    isReadonly:true,
                    iframeUrl:"htmls/shebeiguanli/header.html"
                },
            ];
        },
        methods: {
            //点击左侧
            imgBtn: function (index,container) {
                //点击系统的时候
                if(!container){
                    this.value = index;
                    //拿到非必选的数据 数组
                    let chooseArr = [];
                    let flag = true;
                    let chooseArr_length;
                    for(var j = 6;j < this.secondData.length;j++){
                        if(this.secondData[j].isCheck){
                            chooseArr.push(this.secondData[j])
                        }
                    }
                    chooseArr_length = chooseArr.length;

                    for(var i =0;i<this.sysList[index].dataList.length;i++){

                        for(var j = 0;j < chooseArr_length; j++){
                            flag = true;
                            if(chooseArr[j].name == this.sysList[index].dataList[i].name){
                                flag = false;
                                break
                            }
                        }
                        if(flag) chooseArr.push(this.sysList[index].dataList[i])
                    }

                    console.log(chooseArr);


                    this.secondData = this.secondData.splice(0, 6)

                    this.secondData =  this.secondData.concat(chooseArr);


                }
                //点击全部列表的时候
                else {

                    // this.name = this.allList[index].name;
                    // $("body .name").text(this.name);
                    // this.xxData = [];
                    this.value = index;
                    //判断是否之前已经加入
                    for(let i =0; i< this.secondData.length ; i ++){
                        if(this.secondData[i].name == this.allList[index].name){
                            return
                        }
                    }
                    this.secondData.push(this.allList[index]);
                }

            },


            //点击右侧
            addNavData(index,changeName){
                if(!changeName){
                    this.secondData[index].isCheck = !this.secondData[index].isCheck;
                }
                this.xxData = [];
                for(let i = 0; i < this.secondData.length; i++){
                    if(this.secondData[i].isCheck === true){
                        this.xxData.push(this.secondData[i]);
                    }
                };
            }

        },

        watch:{
            xxData(){
                var storage = window.localStorage;
                var xxData = JSON.stringify(this.xxData);
                storage.setItem('xxData',xxData);
            },
            logoUrl(){
                var storage = window.localStorage;
                var logourl = JSON.stringify(this.logoUrl);
                storage.setItem('logoUrl',logourl);
            },
        },
    });
</script>
<script>
    $(function () {

        $("#upload").change(function () {
            let f = document.getElementById('upload').files[0];
            let src = window.URL.createObjectURL(f);
            console.log(src);
            one.logoUrl = src;
        });
        //左边table切换
        $(".tabs span").each(function () {
            let index = $(this).index();
            //初始化
            $(".tabs span").eq(0).addClass("active");
            $(this).click(function () {
                $(this).addClass("active").siblings().removeClass("active");
                $(".container>div").eq(index).stop(true).show().siblings().stop(true).hide();
            });
        });

        //123
        $(".mmmm").blur(function () {
            one.name = $(".mmmm").text();
        });

        //修改title
        $('body').on("click",".updateImg",function () {
            $(this).siblings(".saveBtn").css({
                "display":"block"
            });
            $(this).siblings(".inputBox").attr("readOnly",false);
            $(this).siblings(".inputBox").focus();
            $(this).siblings(".inputBox").css({
                "border":"1px solid #cccccc",
            });
        });
        //点击保存
        $('body').on("click",".saveBtn",function () {

            let text = $(this).siblings(".inputBox").val();
            $(this).siblings(".inputBox").attr("readOnly",true);
            $(this).siblings(".inputBox").css({
                "border":"none",
            });
            $(".inputBox").text(text);
            let xx = $(this).attr("value");
            one.secondData[xx].name = text;
            one.addNavData(xx,"changeName");
            $(this).css({
                "display":"none"
            });
        });
        //获取当前时间
        let date = new Date();
        let time = date.toLocaleDateString(); //获取日期与时间
        $(".nowTime").text(time);
        // console.log(time);

        //弹出模板
        $(".scBtn").on("click",function () {
            console.log($(".scName").text());
            $(".scName").text(one.name);
            $(".scBox").show();
        });
        $(".outImg").on("click",function () {
            $(".scBox").hide();
        });

        //预览
        $(".ylBtn").on("click",function () {
            // console.log(one.name);
            // window.location.href="centerHtml.html";
            var url=encodeURI('centerHtml.html?name=' + one.name);
            // window.location.href=url;
            window.open(url);
        });
        window.onload = function () {
            document.cookie = $("body .name").text();
        }

        $(".leftBox ul>li").click(function () {
            $("#childframe")[0].contentWindow.changeName(one.name);
            // document.getElementById("childframe").contentWindow.changeName();
        })

    });
</script>
</body>
</html>