<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>项目应用</title>
    <link rel="stylesheet" href="css/basicStyle.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="js/jquery.min.js"></script>
    <!-- 引入组件库 -->
    <script src="js/vue.min.js"></script>
    <!-- 引入样式 -->
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <!-- 引入组件库 -->
<!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
</head>
<body>
<header>
    <img src="img/logo.png" alt="">
    <span>S-API 应用输出</span>
</header>
<div class="navBox">
    <span class="myProject">我的项目</span>
    <span class="settingsBox">
        <span class="settItem">
            <img src="img/updateIcon.png" alt="">
            <span>编辑</span>
        </span>
        <span class="settItem">
            <img src="img/addIcon.png" alt="">
            <span class="addPro">新建</span>
        </span>
        <span class="settItem">
            <img src="img/tbIcon.png" alt="">
            <span>同步</span>
        </span>
        <span class="settItem">
            <img src="img/userIcon.png" alt="">
            <span>Beone</span>
        </span>
    </span>
</div>
<div class="contentBox" id="one">
    <div class="listBox">
        <div class="itemBox" v-for="(item,index) in listData" :key="index">
            <div class="imgBox" @click="show(index)">
                <img class="showImg" :src="item.imgUrl" alt="">
            </div>
            <p>
                <i></i>
                <span class="sysName" :title="item.id" contenteditable="true">{{item.name}}</span>
                <img class="setImg" src="img/sdIcon.png" alt="">
            </p>
            <div class="setBox">
                <span class="updateBtn">编辑</span>
                <span>删除</span>
                <span>发布</span>
                <span>上架商城</span>
            </div>
        </div>
        <!--分页器-->
        <div class="pageBox">
            <el-pagination
                    style="margin: auto"
                    background
                    layout="prev, pager, next"
                    :total="8">
            </el-pagination>
        </div>
    </div>
    <div class="detailBox">
        <div class="iconImg">
            <img :src="detailData.imgUrl" alt="">
        </div>
        <p class="xmDetail"><span></span>项目详情</p>
        <div class="detailList">
            <p>
                <span>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称:</span>
                <span class="smName">{{detailData.name}}</span>
            </p>
            <p>
                <span>企业名称:</span>
                <span>{{detailData.qyName}}</span>
            </p>
            <p>
                <span>所属行业:</span>
                <span>{{detailData.sshy}}</span>
            </p>
            <p>
                <span>创建时间:</span>
                <span>{{detailData.createTime}}</span>
            </p>
            <p>
                <span>修改时间:</span>
                <span>{{detailData.updateTime}}</span>
            </p>
            <p>
                <span>时间节点:</span>
                <span>{{detailData.timeJD}}</span>
            </p>
            <p>
                <span>应用模块:</span>
                <span>{{detailData.yymk}}</span>
            </p>
            <p>
                <span>网络要求:</span>
                <span>{{detailData.wnyq}}</span>
            </p>
            <p>
                <span>描&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;述:</span>
                <span>{{detailData.message}}</span>
            </p>
        </div>
    </div>
</div>
<div class="template" id="template">
    <div class="minBox">
        <div class="titleBox">
            <span>新增项目</span>
            <img class="outImg" src="img/public/close.png" alt="">
        </div>
        <div class="infoBox">
            <p>
                <span>项目名称:</span>
                <input class="proName" type="text">
            </p>
            <p>
                <span>项目logo:</span>
                <select name="" id="sntImg">
                    <option title="img/zhimg/zhbg.jpg">智慧办公</option>
                    <option title="img/zhimg/zhyl.jpg">智慧养老</option>
                    <option title="img/zhimg/zhyy.jpg">智慧医院</option>
                    <option title="img/zhimg/zhly.jpg">智慧楼宇</option>
                    <option title="img/zhimg/zhsq.jpg">智慧社区</option>
                    <option title="img/zhimg/zhjd.jpg">智慧酒店</option>
                    <option title="img/zhimg/zhaf.jpg">智慧安防</option>
                    <option title="img/zhimg/zhzw.jpg">智慧政务</option>
                    <option title="img/zhimg/zhwy.jpg">智慧物业</option>
                    <option title="img/zhimg/zhyq.jpeg">智慧园区</option>
                    <option title="img/zhimg/zhny.jpg">智慧旅游</option>
                    <option title="img/zhimg/zhcs.jpg">智慧商超</option>
                    <option title="img/zhimg/zhxy.jpg">智慧校园</option>

                </select>
            </p>
            <p>
                <span>企业名称:</span>
                <input class="companyName" type="text">
            </p>
            <p>
                <span>所属行业:</span>
                <input class="sshy" type="text">
            </p>
            <p style="position: relative">
                <span>事件节点:</span>
                <el-date-picker
                        style="position: absolute;width: 100%;left: 17.8%"
                        v-model="value1"
                        type="datetime"
                        placeholder="选择日期时间">
                </el-date-picker>
            </p>
            <p>
                <span>网络要求:</span>
                <select name="" id="inter">
                    <option value="专网">专网</option>
                    <option value="互联网">互联网</option>
                    <option value="内网">内网</option>
                </select>
            </p>
            <p>
                <span>项目描述:</span>
                <input class="proMS" type="text">
            </p>
            <div class="btns">
                <button class="addBtn">添加</button>
                <button class="closeBtn">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
    $(function () {

        //获取当前时间
        function nowTime(){
            let date = new Date();
            this.year = date.getFullYear();
            this.month = date.getMonth() + 1;
            this.date = date.getDate();
            this.hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            this.minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            this.second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            let time = this.year+"-"+this.month+"-"+this.date+" "+this.minute+":"+this.minute+":"+this.second;

            return time;
        }


        //添加
        $(".addBtn").on("click",function () {
            let proName = $(".proName").val();
            let sntImg = $("#sntImg option:selected").attr("title");
            let companyName = $(".companyName").val();
            let sshy = $(".sshy").val();
            let inter = $("#inter option:selected").val();
            let proMS = $(".proMS").val();
            //获取当前事件
            let updateTime = nowTime();
            vm.listData.push({
                id:vm.listData.length+1,
                name:proName,
                imgUrl:sntImg,
                qyName:companyName,
                sshy:sshy,
                createTime:nowTime(),
                updateTime:updateTime,
                timeJD:template.value1,
                yymk:10,
                wnyq:inter,
                message:proMS
            });
            console.log(vm.listData);
            $("#sntImg").empty();
            $(".template").hide();
        });
        //关闭  取消
        $(".closeBtn").on("click",function () {
            $(".template").hide();
        });
        $(".outImg").on("click",function () {
            $(".template").hide();
        });

        //新建
        $(".addPro").on("click",function () {
            $(".template").show();
        });
    });
</script>
<script>
    let template = new Vue({
        el:'#template',
        data() {
            return {
                value1:""
            };
        }
    });
</script>
<script>
    $(function () {

        //跳转页面
        $(".updateBtn").on("click",function () {
            let storage = window.localStorage;
            let scName = $(this).parents(".itemBox").find(".sysName").text();
            console.log(scName);
            storage.setItem('projectName',scName);
            window.location.href = "Demo.html"
        });

        $(".sysName").blur(function () {
            let index = $(this).attr("title");
            let id = index -1;
            vm.detailData.name = $(this).text();
            vm.listData[id].name = $(this).text();
        });


        $('body').on("click",".imgBox",function () {
            $(".listBox").css({
                width:"calc(100% - 5.21rem)"
            });
            $('.detailBox').show();
        });

        $(document).bind("click",function(e){
            let con_one=$("body .setImg");//设置目标区域
            if(!con_one.is(e.target) && con_one.has(e.target).length===0){
                $(".setBox").hide();//需要隐藏的元素
            }
        });

        //右边隐藏
        $(document).bind("click",function(e){
            let con_one=$("body .detailBox");//设置目标区域
            if(!con_one.is(e.target) && con_one.has(e.target).length===0 && !$(".showImg").is(e.target)){
                $(".listBox").css({
                    width:"100%"
                });
                $(".detailBox").hide();//需要隐藏的元素
            }
        });


        $("body .setImg").each(function () {
            $(this).on("click",function () {
                $(this).parent().next(".setBox").slideDown(200);
            });
        });
    });
</script>
<script>
    let vm = new Vue({
        el:"#one",
        data(){
            return{
                listData:[
                    {
                        id:1,
                        name:"智慧办公",
                        imgUrl:"img/zhimg/zhbg.jpg",
                        qyName:"重庆金鑫科技",
                        sshy:'智慧办公',
                        createTime:"2019-07-06 15:31:30",
                        updateTime:"2019-07-06 15:31:30",
                        timeJD:"2019-12-28",
                        yymk:13,
                        wnyq:"内网",
                        message:'智能家居水电科技物联网'
                    },
                    {
                        id:2,
                        name:"智慧安防",
                        imgUrl:"img/zhimg/zhaf.jpg",
                        qyName:"重庆金鑫科技",
                        sshy:'智慧办公',
                        createTime:"2019-07-06 15:31:30",
                        updateTime:"2019-07-06 15:31:30",
                        timeJD:"2019-12-28",
                        yymk:13,
                        wnyq:"内网",
                        message:'智能家居水电科技物联网'
                    },
                    {
                        id:3,
                        name:"智慧园区",
                        imgUrl:"img/zhimg/zhyq.jpeg",
                        qyName:"重庆金鑫科技",
                        sshy:'智慧办公',
                        createTime:"2019-07-06 15:31:30",
                        updateTime:"2019-07-06 15:31:30",
                        timeJD:"2019-12-28",
                        yymk:13,
                        wnyq:"内网",
                        message:'智能家居水电科技物联网'
                    },
                    {
                        id:4,
                        name:"智慧商超",
                        imgUrl:"img/zhimg/zhcs.jpg",
                        qyName:"重庆金鑫科技",
                        sshy:'智慧办公',
                        createTime:"2019-07-06 15:31:30",
                        updateTime:"2019-07-06 15:31:30",
                        timeJD:"2019-12-28",
                        yymk:13,
                        wnyq:"内网",
                        message:'智能家居水电科技物联网'
                    },
                    {
                        id:5,
                        name:"智慧楼宇",
                        imgUrl:"img/zhimg/zhly.jpg",
                        qyName:"重庆金鑫科技",
                        sshy:'智慧办公',
                        createTime:"2019-07-06 15:31:30",
                        updateTime:"2019-07-06 15:31:30",
                        timeJD:"2019-12-28",
                        yymk:13,
                        wnyq:"内网",
                        message:'智能家居水电科技物联网'
                    }
                ],
                detailData:{}
            }
        },
        methods:{
            show(index){
                // this.detailData.name = "";
                this.detailData={
                    id:this.listData[index].id,
                    name:this.listData[index].name,
                    imgUrl:this.listData[index].imgUrl,
                    qyName:this.listData[index].qyName,
                    sshy:this.listData[index].sshy,
                    createTime:this.listData[index].createTime,
                    updateTime:this.listData[index].updateTime,
                    timeJD:this.listData[index].timeJD,
                    yymk:this.listData[index].yymk,
                    wnyq:this.listData[index].wnyq,
                    message:this.listData[index].message
                }
            }
        },
    });


</script>

</body>

</html>